.footer{
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4rem;  
    background-color: #212121;
    color: white;
    justify-content: center;
    align-items: center;
}