.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 20px;
    letter-spacing: 0.01em;
    margin-bottom: 10px;
}

.containerMap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 70px;
}

.formData{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.map{
    margin-left: 20px;
}

.input{
    width: 250px;
    border-radius: 8px;
    color: white;
    height: 28px;
    color: black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    border-style: solid;
    border-width: 1px;
}

.button{
    margin-top: 25px;
    border-radius: 8px;
    box-shadow: none;
    color: white;
    width: 350px;
    height: 35px;
    cursor: pointer;
    font-weight: bold;
    outline: 0;
    border-style:none;
    &:hover{
        box-shadow: none;
        border: 3px solid darken(#EEEEEE, 75%);
        transition: opacity 0.1s, border 0.15s;
        }
}

.coordinates{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
}