.card {
    display: flex;
    box-sizing: border-box;
    width: 504px;
    min-height: 404px;
    height: auto;
    background: #ffffff;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #bebebe;
    margin-bottom: 0px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
  }

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.containerForm{
    width: 300px;
}

.form{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.titleLogin{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

.subTitlesLogin{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #6A6A6A;    
    margin-bottom: 10px;
}

.inputSubmit{
    border-radius: 8px;
    background-color:#8B0000;
    color: white;
    height: 30px;
    cursor: pointer;
    outline: 0;
    border-style:none;
    transition: color 0.5s, transform 0.2s, background-color 0.2s;
    font-weight: bold;
   
  &:hover{
  background-color: #8B0000;
  box-shadow: none;
  border: 3.8px solid darken(#000000, 10%);
  transition: opacity 0.3s, border 0.3s;
  }
}

.inputText{
    height: 23px;
    border-radius: 7px;
    outline: 0;
    border-style: solid;
    border-width: 1px;
}

