.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #212121;
    color: white;
    font-size: 35px;
    width: 100%;
    height: 60px;
    position: sticky;
    justify-content: space-around;
}

.titleHeader{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 32px;
}


.logout{
    width: 130px;
    border-radius: 8px;
    background-color:#8B0000;
    color: white;
    height: 30px;
    cursor: pointer;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    outline: 0;
    border-style:none;
    font-weight: bold;
    &:hover{
        background-color: #8B0000;
        box-shadow: none;
        border: 1.5px solid darken(#ffffff, 5%);
        transition: opacity 0.3s, border 0.5s;
        }
}