
$green: #1ff042;

.container{
      background-color: black;
      width: 100wv;
      height: 100hv;  
}

.fourohfourform{
  position: relative;
  margin-bottom: 100rem;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  z-index: 2;
  background-color: black;
  transition: opacity 300ms ease-out;
  background-position: center center;
  background-repeat: no-repeat;
  .dJAX_internal{
    opacity: 0.0;
  }

  
}

 .terminal {
  position: relative;
  padding: 4rem;

  .prompt{
    color: $green;
    display: block;
    font-family: 'AndaleMono', monospace;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 0.15em;
    white-space: pre-wrap;
    text-shadow: 0 0 2px rgba($green,0.75);
    line-height: 1;
    margin-bottom: 0.75em;

    &:before {
      content: '> ';
      display: inline-block;
    }
  }

  @mixin new-output{
    display: inline-block;
    &:after {
      display: inline-block;
      vertical-align: -0.15em;
      width: 0.75em;
      height: 1em;
      margin-left: 5px;
      background: $green;
      box-shadow: 1px 1px 1px rgba($green,0.65), -1px -1px 1px rgba($green,0.65), 1px -1px 1px rgba($green,0.65), -1px 1px 1px rgba($green,0.65);
      @include animation(cursor-blink 1.25s steps(1) infinite);
      content: '';
    }
  }
}

.kittens{
  p{
    letter-spacing: 0;
    opacity: 0;
    line-height: 1rem;
  }
}

.kitten-gif{
  margin: 20px;
  max-width: 300px;
}

